templates/1_Telegram-Chat-AI-Agent.json
{
  "name": "**Telegram-Chat-AI-Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e504482c-7fd5-45b7-8ec5-7091497c94b1",
      "name": "Telegram Trigger",
      "webhookId": "384ec9ea-8f94-49d2-ba00-ae3b988aaab0",
      "credentials": {
        "telegramApi": {
          "id": "EZe641al3d0o6Hvi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "fe2394fb-0448-4837-8b06-8f72818c0cdb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "bc22feac-eb2e-439f-9a33-9846b74e3896",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ITuCrKJAxDGypIeS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "c14f0fa6-1283-45b5-8343-3adc853d6a00",
      "name": "Send a text message",
      "webhookId": "870ca74c-1ce4-4c71-8e1b-a9b951bedbd6",
      "credentials": {
        "telegramApi": {
          "id": "EZe641al3d0o6Hvi",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f81bbbe0-51fc-4d40-a01e-8b6bbbfd8db1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd33b5d01021170e87a001ca30811db83b1ad676879b20b8b93ea61f34aacdee"
  },
  "id": "0bwoUBRFR2GowRQ0",
  "tags": []
}